<a href="https://colab.research.google.com/github/JALVARADORUIZ/Magister_BigData_UB/blob/main/M3_AI2_ALVARADORUIZJOSEARMANDO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PADAWAN : JOSE ARMANDO ALVARADO RUIZ**

ENTREGA : M3_AI2_ROSALIA EN TWITTER

Descripci√≥n de la tarea

Vamos a analizar el perfil de Rosal√≠a (@rosalia) en Twitter. 

Construye un notebook con el c√≥digo necesario para obtener los resultados siguientes.  En cada pregunta, muestra el resultado como output del notebook.


Debes entregar el notebook con los resultados ejecutados y con el output visible.


Las tareas que debes realizar y las preguntas a las que debes dar respuesta en esta actividad son la siguientes:


Autent√≠cate en twitter. Pon en notebook todo el c√≥digo necesario y deja con ‚ÄúXXXXXX‚Äù las credenciales (bearer_token) para que el profesor se pueda autenticar con sus propias credenciales y ejecutar el resto del notebook. 
¬øCu√°l es el id de @rosalia en twitter?

Lista los nombres de los usuarios a los que @rosalia est√° siguiendo.
¬øCu√°l de ellos tiene m√°s seguidores?

Utiliza la get_users_tweets() para obtener el json completo con los cinco √∫ltimos tweets de Rosalia. Muestra por pantalla el d√≠a, la hora de creaci√≥n y el texto.

Recupera los cinco primeros tweets, a partir de la SteamingClient, desde de la entidad del pa√≠s/regi√≥n/ciudad de tu elecci√≥n y que no sean retweets. 

Muestra por pantalla el id del usuario que realiza el tweet, la fecha, la hora de creaci√≥n y el texto.

In [2]:
!pip install tweepy --upgrade

import tweepy

print(tweepy.__version__)

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Collecting tweepy
  Downloading tweepy-4.6.0-py2.py3-none-any.whl (69 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 69 kB 2.4 MB/s
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (3.2.0)
Collecting requests<3,>=2.27.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 63 kB 1.4 MB/s
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (1.24.3)
Installing collected packages: requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed requests-2.27.1 tweepy-4.6.0
4.6.0

In [3]:
import json
import pymongo
import tweepy
import urllib
import time

import pandas as pd
import numpy as np

In [4]:
# copia tu bearer_token
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAAwHHgEAAAAA544wNo5uz8tU%2FBWfKXSSgmwGiGk%3DG2zCzETJnwNc2JvoAY2pRFm7KbzdT4JIAfc1EMKmXv39ViktqM'
client = tweepy.Client(bearer_token=bearer_token,wait_on_rate_limit=True)

In [5]:
USER_NAME = "Rosalia"
user = client.get_user(username=USER_NAME, 
                       user_fields=["created_at","description","entities","id","location","name","pinned_tweet_id"
                       ,"profile_image_url","protected","public_metrics","url","username","verified","withheld"])

In [6]:
user.data.name

'R O S A L √ç A'

In [7]:
user.data.id

1728956976

In [28]:
following_rosalia = []

# con limit=14 podemos descargar hasta 14*100 ids.
for page in tweepy.Paginator(client.get_users_following, user.data.id, max_results=100, limit = 14):
  for response in page.data:
    FOLLOWING_USER_NAME = response.data["username"]
    following_user = client.get_user(username=FOLLOWING_USER_NAME, 
                    user_fields=["created_at","description","entities","id","location","name","pinned_tweet_id","profile_image_url",
                                 "protected","public_metrics","url","username","verified","withheld"])

    #following_user.data.public_metrics["followers_count"]
    following_rosalia.append([response.data["id"],response.data["username"],response.data["name"],following_user.data.public_metrics["followers_count"]])

print("La cuenta @Rosalia sigue a un total de ", len(following_rosalia), " usuarios")

La cuenta @Rosalia sigue a un total de  54  usuarios

In [35]:
df_rosalia = pd.DataFrame(data=following_rosalia, columns=['Id','Username','Name','Followers Count'])

df_rosalia[['Username','Name']]

          Username                       Name
0    NoeliaRMontes             Noelia Ram√≠rez
1       jose272011              Jose Gonzalez
2          neggata                    neggata
3        jooleesah              Julyssa Lopez
4      rociorotten                      Roc√≠o
5       caesarenas              caesar arenas
6          katbeee                    Kat Bee
7        motovenus                    Venus ‚ú®
8         zanelowe                  Zane Lowe
9      dantijerina                        D-T
10  RollingStoneUK           Rolling Stone UK
11     carolineplz          Caroline Polachek
12        ivangb00                       Iv√°n
13       iamcardib                    Cardi B
14           Tainy                      TAINY
15     rossydpalma               rossydepalma
16  officialDannyT                Danny Trejo
17         DONOMAR          DON OMAR aka KONG
18       OTHERtone                  OTHERtone
19      brokemogul                scott vener
20        ChadHugo                  Chad Hugo
21        Pharrell          Pharrell Williams
22     TheNeptunes               The Neptunes
23        babykeem                  baby keem
24    Harry_Styles              Harry Styles.
25       tokischa_           Tokischa Peralta
26  secoweedcodein               Juan de Dios
27       kaydyCain                 KAYDY CAIN
28   dragon___loco          dragonlocodefuego
29   caetanoveloso             Caetano Veloso
30             0PN      oneohtrix point never
31     jimmyfallon               jimmy fallon
32       MuraiHiro                 Hiro Murai
33       MayaCPopa               Maya C. Popa
34  historiayarte_          Historia del Arte
35         yokoono              Yoko Ono ‚òÆÔ∏èüè≥Ô∏è
36        elonmusk                  Elon Musk
37   rauwalejandro  R A U W A L E J A N D R O
38    MissyElliott              Missy Elliott
39    YouTubeJapan              YouTube Japan
40      jamesblake                James Blake
41    CharmLadonna             Charm La'Donna
42     arca1000000                       Arca
43    Camaron_Fans         Camar√≥n de la Isla
44        ptobella                      Pilar
45    playboicarti                      üßõüèø‚Äç‚ôÄÔ∏è
46   caroshawmusic              Caroline Shaw
47     KylieJenner               Kylie Jenner
48     ChloeBailey                     ChloÃàe
49        rojuuaka                       roku
50   RodoredaMerce             Merc√® Rodoreda
51   leticia__sala                          üåä
52  michaeluzowuru                        uzi
53        daikyri_           mango stickyrice

In [34]:
df_rosalia[df_rosalia['Followers Count'] == df_rosalia['Followers Count'].max()]

          Id  Username       Name  Followers Count
36  44196397  elonmusk  Elon Musk         77510046

In [47]:
tweets = client.get_users_tweets(id=user.data.id, tweet_fields=["public_metrics","context_annotations","created_at","geo","lang"],max_results =5)

df_tweets = pd.DataFrame()

for tweet in tweets.data:
  df_tweets = df_tweets.append(pd.json_normalize({'created_at':tweet.created_at, 'text':tweet.text})) 

df_tweets.reset_index(drop=True, inplace=True)
df_tweets

                 created_at                                               text
0 2022-03-12 04:38:14+00:00  RT @johandls360: NO PUEDO ESPERARRRRrrrrrr @ro...
1 2022-03-12 00:06:26+00:00  @tokischa_ @jimmyfallon Eso tUUUUU todo el rat...
2 2022-03-11 21:07:02+00:00  Aunque\n14/20:\n\nEl casco es el mejor bolso d...
3 2022-03-11 21:06:08+00:00  Si el bolso no combina, mejor no lleves bolso ...
4 2022-03-11 20:40:27+00:00            FRONTEA CON MOTO, PROTEGE TU MAMI 13/20